.calendar-table {
  display: flex;
  height: 100%;
  align-items: center;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .month {
      width: 50%;
    }
  }

  .calendar-grid {
    //width: 100%;
    display: grid;
    grid-template-columns: repeat(7, max-content);
    text-align: center;

    .grid-header {
      font-weight: bold;
    }

    .calendar-cell {
      aspect-ratio: 1/1;

      .calendar-wrap{
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      .calendar-cell__content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-radius: 50%;
      }

      &.today {
        .calendar-cell__content {
          border: sx(0.25) solid var(--md-sys-color-on-primary-container);
        }
      }

      &.in-range {
        background-color: var(--md-sys-color-inverse-primary);
        border-radius: 0;
      }

      &.active {
        //color: #fff;

        &.start-date {
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
        }

        &.end-date {
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
        }
      }
    }
  }

  .button_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: sx(1);
  }

}


/* 横屏模式下的样式 */
@media (orientation: landscape) {
  .calendar-table {

    .header {
      height: 10%;
      width: 100%;

      .month {
        margin-left: sx(3);
      }
    }

    .calendar-grid {
      height: 80%;
    }

    .button_wrap {
      width: 100%;
      height: 10%;
    }
  }
}

/* 竖屏模式下的样式 */
@media (orientation: portrait) {
  .calendar-table {

    .header {
      height: 10%;
      width: 100%;
    }

    .calendar-grid {
      height: 80%;
    }

    .button_wrap {
      width: 100%;
      height: 10%;
    }
  }
}


