.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: sx(4.5);
  padding: sx(5);
  box-sizing: border-box;

  .edit {
    display: flex;
    justify-content: space-between;
  }
}

// 横屏样式
@media (orientation: landscape) {
  .wrapper {
    $height: calc((100vh - sx(30) - var(--status-bar-height) + sx(90)) / 2);
    max-height: calc(100vh - sx(30) - var(--status-bar-height));
    max-width: calc(100 / 90 * calc(100vh - sx(30) - var(--status-bar-height)));
    height: $height;
    width: calc(100 / 90 * #{$height}); // 保持100:90的宽高比例

    .edit {
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      width: 20%;

      .time-range-l {
        text-align: center;
        word-wrap: break-word;
      }

      .time-range-p {
        display: none;
      }
    }

    .calendar-wrap {
      height: 100%;
      width: 80%;
    }
  }
}

// 竖屏样式 (移除非常规单位rpx)
@media (orientation: portrait) {
  .wrapper {
    $width: calc((90vw + sx(90)) / 2);
    max-height: calc(calc(100vw - sx(15)) / 90 * 100);
    max-width: calc(100vw - sx(15));
    height: calc($width / 90 * 100);
    width: $width;
    flex-direction: column;

    .edit {
      width: 100%;
      align-items: center;
      height: 5%;

      .time-range-l {
        display: none;
      }
    }

    .calendar-wrap {
      width: 100%;
      height: 95%;
    }
  }
}

